html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #FFEF00;
}

#root {
    background-color: white;
    padding: 15px;
    margin: 0 auto;
    margin-top: 20vh;
    border-radius: 10px;
    text-align: center;
    width: 30vw;
    min-width: 350px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

#root p {
    padding: 10px;
}

button {
    padding: 5px 10px;
    border-radius: 13px;
    border: none;
    width: 100px;
    cursor: pointer;
    color: white;
    background-color: blue;
}